.pointer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}